@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


header {
    background: $primary;
    min-width: 100%;
}

header img {
    min-width: 55px; 
    max-width: 25%;
}

.profile-img    {
    min-width: 100px; 
    max-width: 150px;
}

h1,
h1 a {
    color: $light;
    text-decoration: none;
}

.btn {
    color: $dark;
}

.post {
    max-width: 1000px;
}

.post img {
    min-width: 150px;
    max-width: 280px;
}